*{
  
    margin-top: 10px;
    

}
body{
    background-image: url('../images/human7.jpg');
    background-repeat:no-repeat;
    background-position: 30px 120px;
    background-attachment: fixed;
    
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.btn2{
    background-color: #d1ced0;
    color: #1b3474;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 30px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight: bold;
    text-align: center;
}
.btn2>div{
    color: #BF1768;
   
}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
.Questions{

display: flex;
flex-direction: column;
padding-left: 9%;


   
}
.cards{
    background-color: #d1ced0;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
    min-width: auto;
    max-width: 50vw;
    font-weight: bold;
    margin-top: 6%;
}
.cards>div{
    background-color: rgb(173, 169, 169);
    border-radius: 20px;
    height: max-content;
    padding: 5px;
}
.cards>div:hover{
    background-color: rgb(235, 63, 57);
}
.cards>div[valid]:checked{
    background-color: rgb(14, 119, 28);
}
.cards>div label{
    cursor: pointer;
    
}


.submit{
    background-color: #BF1768;
    width: max-content;
    justify-content: center;
    padding: 9px;
    padding-top: 0;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3%;
}
.submit>button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bolder;
}
button:hover{
    background-color: green;
    
}
.submit:hover{
    background-color: green;
    
}
#Results{
    background-color: rgb(10, 10, 10);
    width: 300px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    font-family: Prompt;
}
#Results>#outResults{
    color: #BF1768;
    font-weight: bold;
    font-size: xx-large;

}
footer{
    margin-left: 0;
    height: 180px;
    background-color: #061231;
    color: white;
    display: flex;
    justify-content: space-around;
}
table>th,tr,td{
    text-align: left;
    padding-top: 6px;
    font-weight: 200;
    color: white;
    opacity: 0.6;
}
table>th{
    text-align: left;
    padding-top: 15px;
    color: white;
}
